.header-tut{
    background-size:cover;
    background-image: url('../assets/images/back.svg');
    background-position: 50% 100%;
    height: 50vh;
    background-repeat: no-repeat;
}

.tutorial-div{
    margin-left: 30px;
    margin-bottom: 280px;
    padding-right: 30px;
}

.tut-title{
  margin-top: 100px;
}

h2{
    font-weight: 800; 
}
p{
    font-size:16px;  
}
ul{
    font-size:16px;  
}

.tut-title{
    color: #ffffff;
    font-size: 28px;
    font-weight: 800;
}

.side-bar ul{
    padding: 0;
}

.side-bar li{
    list-style-type: none;
    padding: 20px;
    width: 100%;
}
.side-bar a{
    font-size: 24px;
    font-weight: bold;
    width: 100%;
}

@media(min-width:768px) {
    .tut-title{
        font-size: 40px;
        font-weight: 800;
        margin-top: 100px
    }

    ul{
        font-size:18px;  
    }

    h2{
      font-weight: 800; 
    }

    p{
      font-size:18px;  
        padding-right: 50px;

    }
}
@media(max-width:600px) {
    .header-tut {
        height: 28vh;
    }
}