div.table {
  display: table;
}

div.row {
  display: table-row;
}

div.cell {
  display: table-cell;
  border: 1px solid #ccc;
}

div.cell:focus {
  background-color: #ffff4d;
  border: 1px solid #0099ff;
}

.hidden {position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
