div.table {
  display: table;
}

div.row {
  display: table-row;
}

div.cell {
  display: table-cell;
  border: 1px solid #ccc;
}

div.cell:focus {
  background-color: #ffff4d;
  border: 1px solid #0099ff;
}
