<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Explore graphs by touch - Accessible Graphs</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/tone"></script>
  <script type="text/javascript" src="audio.js"></script>
  <script type="text/javascript" src="touchGraph.js"></script>
</head>

<body>
  <div id="touchArea" style="height: 100%; width: 100%;">
  </div>
</body>

</html>