body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #000A41;
  font-family: 'Lato', sans-serif;
  text-align: initial;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

#entity_table,
#timeline_entity,
#add_contact_form {
  margin: auto;
  width: 80%;
  height: 90%;
  padding: 100px;
}